@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Grade @ViewBag.Subject Homepage</h2>


<ul>
    <li><a href="~/resources/@ViewBag.Subject/@ViewBag.Grade">Resources</a></li>
    <li><a href="~/ig/@ViewBag.Subject/@ViewBag.Grade">Instructional Guidelines</a></li>
</ul>
